[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = yuzukq
	email =

[alias]
  co = checkout
	un = reset HEAD --
	undo = reset HEAD^
	ac = !git add . && git commit -m
	cm = commit --amend -m
	lg = log --oneline -5
	z = stash
	s = stash
	d = diff
	b = branch
	c = commit
	m = merge
	p = push
	f = fetch


