#!/bin/bash
{{ if ne .chezmoi.os "darwin" }}exit 0{{ end }}

set -e

# Formulae
brew install \
  bat \
  fastfetch \
  fd \
  fish \
  fnm \
  fzf \
  gh \
  lazygit \
  ripgrep \
  zellij

# Casks
brew install --cask \
  alt-tab \
  font-maple-mono-nf \
  ghostty \
  karabiner-elements \
  orbstack \
  raycast \
  scroll-reverser

# Default shell を fish に変更
if ! grep -q "$(brew --prefix)/bin/fish" /etc/shells; then
  echo "$(brew --prefix)/bin/fish" | sudo tee -a /etc/shells
fi
if [ "$SHELL" != "$(brew --prefix)/bin/fish" ]; then
  chsh -s "$(brew --prefix)/bin/fish"
fi
