if status is-interactive
# Commands to run in interactive sessions can go here
end

{{ if eq .chezmoi.os "darwin" -}}
fish_add_path /opt/homebrew/bin
fnm env --use-on-cd | source

# Added by OrbStack: command-line tools and integration
# This won't be added again if you remove it.
source ~/.orbstack/shell/init2.fish 2>/dev/null || :
{{ end -}}
